.profile {
    margin: 0 auto;

    width: 60%;
    height: 100vh;

    padding-top: 10vh;

    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 32px;

    margin-top: 30px;
}

.description {
    margin-top: 20px;
    font-size: 16px;
}

.photo {
    margin: 0 auto;
    width: fit-content;
}

.social {
    display: flex;
    justify-content: center;
}

.socialItem {
    padding: 10px 10px;
}

.link {
    width: 100%;
    font-size: 20px;

    border-color: white;
    border-width: 2px;
    border-style: solid;

    background-color: white;
    border-radius: 8px;
    color: black;

    padding: 10px 10px;

    margin: 20px 0px;

    transition: 0.3s;
}

.link:hover {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.footer {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

/* Mobile CSS */
@media screen and (max-width: 700px) {
    .profile {
        width: 80%;
    }
}